# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IDE specific files for Eclipse and IDEA
.project
.classpath
.settings
*.iml
*.ipr
*.iws
